{% extends "base.html" %}
{% block title %}Lista de bicicletas{% endblock %}
{% block head %}
{{super()}}

{% endblock %}
{% block body %}



<div class="contenedor__animal">
    
    <div  class="caja__trasera_mascotas"> 
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/img/1.jpg" width="10%" alt="...">
                <h5 id="letrawhite"> Bicicleta tipo 1</h5>
              </div>
              <div class="carousel-item">
                <img src="/static/img/2.jpg" width="10%" alt="...">
                  <h5 id="letrawhite"> Bicicleta tipo 2</h5>
              </div>
              <div class="carousel-item">
                <img src="/static/img/3.jpg" width="10%" alt="...">
                  <h5 id="letrawhite"> Bicicleta tipo 3</h5>
              </div>
              <div class="carousel-item">
                <img src="/static/img/4.jpg" width="10%" alt="...">
                  <h5 id="letrawhite"> Bicicleta tipo 4</h5>
              </div>
              <div class="carousel-item">
                <img src="/static/img/5.jpg" width="10%" alt="...">
                  <h5 id="letrawhite"> Bicicleta tipo 5</h5>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <button type="button" class="btn btn-primary btn-lg"><a href="/citas/" id="abtn">  Rentar bicicletas </a></button>
    </div>
    
</div>


        
{% endblock %}

{% block footer %}

{% endblock %}